body
{
	margin:0px;
}
ul
{
	list-style-type:none;
	background-color:black;
	width:100%;
	padding:10px;
	position: relative;
}
ul li
{
	display:inline;
	padding:20px;
}
ul li a
{
	text-decoration:none;
	color:white;
}
input [type=radio]
{
	display:inline;
} 

table 
{
	background-color:aliceblue;
	border-collapse:collapse;
	padding:50px;
}
th,td {
	padding:8px 16px;
}


.form-div{
	background-color:aliceblue;
	border:2px solid #777;
	padding: 12px 8px;
	width: 350px;
	margin: auto;
}

input[type=submit]{
	margin-top: 12px;
}

